name: Build workflow

on:
  workflow_call:

env:
  package_origin: gh

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    name: Ubuntu builder
    steps:
    - name: Configure base system
      run: |
        git config --global init.defaultBranch master
    - name: Checkout repository code
      uses: actions/checkout@v3
    - name: Compile repository code
      id: compile
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install qtbase5-dev qt5-qmake
        make
        cd derived/bin
        tar cvf ../../openmsx-debugger-ubuntu-${{ env.package_origin }}.tbz .
    - name: Upload redistributable package for Ubuntu
      uses: actions/upload-artifact@v3
      with:
        name: ubuntu
        path: |
          openmsx-debugger-ubuntu-${{ env.package_origin }}.tbz
        if-no-files-found: error
        retention-days: 3
